<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sessions_mapper">
    <select id="getById" resultMap="sessions_map">
        SELECT Sessions.sessionId as sessionId, Clients.clientId as clientId, start, port, isActive, ip, host, clientIp,
        sessionToken, clientToken, login, passwordHash
        FROM Sessions
        LEFT JOIN SessionClients
        ON SessionClients.sessionId = Sessions.sessionId
        LEFT JOIN Clients
        ON SessionClients.clientId = Clients.clientId
        WHERE Sessions.sessionId=#{id}
    </select>
    <select id="get" resultMap="sessions_map">
        SELECT Sessions.sessionId as sessionId, Clients.clientId as clientId, start, port, isActive, ip, host, clientIp,
        sessionToken, clientToken, login, passwordHash
        FROM Sessions
        LEFT JOIN SessionClients
        ON SessionClients.sessionId = Sessions.sessionId
        LEFT JOIN Clients
        ON SessionClients.clientId = Clients.clientId
    </select>
    <delete id="deleteById">
        DELETE FROM Sessions WHERE Sessions.sessionId=#{id}
    </delete>
    <delete id="deleteFromJunctionById">
        DELETE FROM SessionClients WHERE SessionClients.sessionId=#{id}
    </delete>
    <insert id="create">
        INSERT INTO Sessions(sessionId, start, port, isActive, ip, host, sessionToken)
        VALUES(#{id}, #{start}, #{port}, #{isActive}, #{ip}, #{host}, #{sessionToken})
    </insert>
    <insert id="bind">
            INSERT INTO SessionClients(clientId, sessionId) VALUES
            <foreach collection="clients" item="item" open="(" separator="),(" close=")">
                #{item.id},
                #{id}
            </foreach>
    </insert>
    <update id="update">
        UPDATE Sessions SET
        port=#{port},
        isActive=#{isActive},
        ip=#{ip},
        host=#{host},
        start=#{start},
        sessionToken=#{sessionToken}
        WHERE sessionId=#{id}
    </update>
    <update id="updateJuncion">
        UPDATE SessionClients SET
        <foreach collection="clients" item="item" open="" separator="," close="">
            clientId=#{item.id},
            sessionId=#{id}
        </foreach>
        WHERE sessionId=#{id}
    </update>

    <resultMap id="sessions_map" type="com.solvd.automation.lab.fall.model.Session" autoMapping="false">
        <id property="id" column="sessionId"/>
        <result property="start" column="start"/>
        <result property="port" column="port"/>
        <result property="isActive" column="isActive"/>
        <result property="ip" column="ip"/>
        <result property="host" column="host"/>
        <result property="sessionToken" column="sessionToken"/>
        <collection property="clients" ofType="com.solvd.automation.lab.fall.model.Client">
            <id property="id" column="clientId" />
            <result property="clientIp" column="clientIp"/>
            <result property="clientToken" column="clientToken"/>
            <result property="login" column="login"/>
            <result property="passwordHash" column="passwordHash"/>
        </collection>
    </resultMap>
</mapper>